.reviewSwiper .swiper-slide {
    width: 420px !important;
    height: 333px !important;
    text-align: start;
}
.reviewSwiper .swiper-pagination {
    display: none;
}
.custom-pagination-bullets .swiper-pagination-bullet {
    display: block;
    width: 100%;             
    height: 4px;            
    background: #FFFFFF33;   
    opacity: 1 !important;
    margin: 0 !important;    
    border-radius: 0px !important; 
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.custom-pagination-bullets .swiper-pagination-bullet-active {
    background: #FFFFFF !important;
    border-radius: 5px !important;
}